h1 {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    font-size: xx-large;
}

h2 {
    color: rgb(6, 86, 86);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    font-size: large;
    border-style: dashed;
    border-width: 2px;
    border-color: cyan;
}

p {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    font-size: small;
}

li {
    list-style-type: square;
}

body {
    background-color: blanchedalmond;
}